.img{
    display: block;
    margin: 0 auto;
}
input[type="number"]{
    background-color: rgb(173, 207, 207);
}
input[type="submit"]{
    margin-top: 20px;
    font-family: sans-serif;
}


h3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(14, 100, 100);
}
h1 {
    text-align: center;
    color: dimgrey;
}